// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }

$sidebar-logo-width: 15rem;

.sidebar-about .avatar {
  width: $sidebar-logo-width;
  height: calc($sidebar-logo-width * 1368 / 900);
  border-radius: initial;
}

.sidebar-about > a.sidebar-title {
  display: none;
}

.nav-span {
  padding-left: 10px;
}

.nav-span:after {
  content: "Bristol Riichi Mahjong";
}

.sidebar-about > p {
  display: none;
}

.organiser-profile {
  overflow: auto;
}

.organiser-intro-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

@media (min-width: 480px) {
  .tom-intro-image {
    float: right;
  }
}

.riverside-riichi-iframe-wrapper {
    position: relative;
    padding-top: 640px;
    height: 0;
}
.riverside-riichi-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

b.warning {
  background-color: #ffe100;
  color: black;
}